<nav>
    <div class="nav-wrapper">
        <div class="container">
        <a href="/" class="brand-logo black-text">Un-Boxed</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="/">Home</a></li>
            <li><a class="black-text" href="/Products">Products</a></li>
            <li><a class="black-text" href="/News">News</a></li>
            <li><a class="black-text" href="/Events">Events</a></li>
            <li><a class="black-text" href="/Media">Media</a></li>
            <li><a class="black-text" href="/New">+Add Content</a></li>
        </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-links">
        <li><a class="black-text" href="/">Home</a></li>
        <li><a class="black-text" href="/Products">Products</a></li>
        <li><a class="black-text" href="/News">News</a></li>
        <li><a class="black-text" href="/Events">Events</a></li>
        <li><a class="black-text" href="/Media">Media</a></li>
        <li><a class="black-text" href="/New">+Add Content</a></li>
</ul>