    <div class="nav-wrapper">
        <div class="container">
        <a href="/" class="brand-logo">Un-Boxed</a>
        <ul class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/Products">Products</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Events">Events</a></li>
            <li><a href="/Media">Media</a></li>
            <li><a href="/New">+Add Content</a></li>
        </ul>
        </div>
    </div>
