<!DOCTYPE html>
<html lang="en">
<head>
        <% include ./partials/head.ejs %>
</head>
<body>
    <nav>
        <% include ./partials/nav.ejs %>
    </nav>
    <div class="container">
    <h1>Edit <%=item.title%></h1>
    <form action="/<%=item.category%>/<%=item.id%>?_method=PUT" method="POST">
        <label for="category">Category</label>
        <input type="text" name="category" id="category"/><br>
        <label for="title">Title</label>
        <input type="text" name="title" id="title"/><br>
        <label for="description">Description</label>
        <textarea name="description" id="description">Description</textarea><br>
        <label for="image">Image URL</label>
        <input type="text" name="image" id="image" /><br>
        <label for="link">Link to Original Source</label>
        <input type="text" name="link" id="link" /><br>
        <input type="submit" value="Edit Item">
      </form>
    </div>
</body>
</html>