body {
    background: rgb(202, 255, 0);
}
.container {
    width: 80%;
}
.card {
    border: 2px solid black;
}
.card .card-title {
    position: absolute;
    top: 0;
    max-width: 100%;
    padding: 10px;
    height: 50px;
    font-weight: 600;
}
.card-action {
display: flex;
flex-direction: row;
}
form:hover { 
opacity: 0.5;
transition: .1s;
}
input:hover {
cursor: pointer;
}
input[type= submit] {
color: orange;
border: 0px;
}