body {
    background: rgb(202, 255, 0);
}
.container {
    width: 80%;
}
.card {
    border: 2px solid black;
}
.card .card-image {
    height: 300px;
    width: 50%;
}
.card.horizontal .card .card-image img {
    height: 100%;
    width: 100%;
}
.card-action {
display: flex;
flex-direction: row;
}
form:hover { 
opacity: 0.5;
transition: .1s;
}
input:hover {
cursor: pointer;
}
input[type= submit] {
color: orange;
border: 0px;
}
i {
    color: black;
}